<div class="toolbar mb-2">
    <app-search (onChange)="filterByName($event)" class="searchButton"></app-search>
    <app-login-button class="mb-4 mt-2 "></app-login-button>
</div>
<div class="container coinList table-responsive mb-4">
    <table class="coinList table">
        <thead>
            <tr>
                <th *ngFor="let header of headers">
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="selected" *ngFor="let coin of filteredCoins; let i = index">
                <td class="text-muted" (mouseup)="navigate(coin.id)">{{i+1}} </td>
                <td (mouseup)="navigate(coin.id)">
                    <img [src]="coin.image" style="width: 2rem;">
                    <span class="ms-3">
                        {{coin.name}}
                    </span>
                    <span class="text-muted text-uppercase ms-2">
                        {{coin.symbol}}
                    </span>
                </td>
                <td (mouseup)="navigate(coin.id)">
                    ${{coin.current_price}}
                </td>
                <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success':'text-danger'"
                    (mouseup)="navigate(coin.id)">
                    {{coin.price_change_percentage_24h}}
                </td>
                <td (mouseup)="navigate(coin.id)">
                    {{coin.total_volume}}
                </td>
                <td *ngIf="isLogged()">
                    <app-action [coinID]="coin.id"></app-action>
                </td>
            </tr>
        </tbody>
    </table>
</div>