.coinList{
    background-color: #1C1E1F;
    color: #E8E6E3
}
.selected:hover{
    background-color: #0d0e0e;
}
.toolbar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.searchButton{
    min-width: 100px;
    max-width: 500px;
}