<div class="container details">
  <div class="info_important">
    <div class="info_important">
      <h1>${{coin.market_data.current_price.usd}} USD</h1>
      <h5 class="ms-2 mt-1" [ngClass]="coin.market_data.price_change_24h > 0 ? 'text-success':'text-danger'">
        {{coin.market_data.price_change_24h}}$</h5>
    </div>
    <div class="info_important">
      <h5 (click)="getDataLast24h()" class="info_important_option">24h</h5>
      <h5 class="ms-2 text-muted">/</h5>
      <h5 (click)="getDataFromDays(7)" class="ms-2 info_important_option">7d</h5>
      <h5 class="ms-2 text-muted">/</h5>
      <h5 (click)="getDataFromDays(30)" class="ms-2 info_important_option">30d</h5>
      <h5 class="ms-2 text-muted">/</h5>
      <h5 (click)="getDataFromDays(365)" class="ms-2 info_important_option">1y</h5>
    </div>
  </div>
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
  <div class="info_important">
    <div class="mt-5">
      <label class="category text-muted">Highest Price 24h (USD)</label>
      <h4>{{coin.market_data.high_24h.usd}}</h4>
    </div>
    <div class="mt-5 ms-4">
      <label class="category text-muted">Market Cap (USD)</label>
      <h4>{{coin.market_data.market_cap.usd}}</h4>
    </div>
    <div class="mt-5 ms-4">
      <label class="category text-muted">Circulating Supply</label>
      <h4>{{coin.market_data.circulating_supply}}</h4>
    </div>
    <div class="mt-5 ms-4">
      <label class="category text-muted">Max Supply</label>
      <h4>{{coin.market_data.max_supply}}</h4>
    </div>
  </div>
</div>